.link {
  padding: 4px 20px;
  margin-right: 4px;
  border-radius: 6px;

  &:hover {
    background-color: var(--hover-interaction);
  }

  &.active {
    background-color: var(--hover-interaction);
  }
}
