.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    /* .links {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    a {
      transition: 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    } */
}